.PolicyIssuing .issuingDiv
{
    background : white;
    color: #002BFF;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.issuingDiv .issuingHeading
{
    background-color: #002BFF;
    color: white;
    border-radius: 8px;
    font-size: 1.8em;
    padding: 5px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.issuingDiv #issuingMainHeading
{
    color: #002BFF;
    font-size: 3.5em;
    border-radius: 8px;
    outline: 3px solid #002BFF;
    outline-offset: 10px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.issuingDiv .issuingTextContainer
{
    border: 4px #002BFF solid;
    border-radius: 5px;
    color: #002BFF;
    font-weight: bold;
    width: 20vw;
    padding: 30px;
    margin: 75px;
    box-shadow: 5px 5px 2px 2px #002BFFA0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s;
}

.issuingDiv .issuingTextContainer:hover
{
    background-color: #002BFF;
    color: white;
    outline: 4px solid #002BFF;
    outline-offset: 25px;
}